app:
  name: nginx-app

replicaCount: 4

image:
  repository: ngix
  tag: "1.21"

service:
  type: ClusterIP
  port: 80

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 50m
    memory: 64Mi
